@{ ViewBag.Title = "Party!";}
<div class="text-center">
    <h2>We're going to have an exciting party!</h2>
    <h3>And you are invited.</h3>
    @Html.ActionLink("RSVP Now", "Rsvp", null, new { @class = "btn btn-success" })
</div>