@{ ViewBag.Title = "Selamat datang!";}
<div class="text-center">
    <h2>Silahkan tekan tombol berikut untuk post data!</h2>
    
    @Html.ActionLink("Lanjutkan", "Rsvp", null, new { @class = "btn btn-success" })
</div>